.header {
  width: 100%;
  padding: 2.9rem 0;
  border-bottom: 1px solid $line-grey;

  @include subFont;

  &__inner {
    width: $default-width;
    max-width: $max-width;
    margin: 0 auto;
  }

  &__title {
    font-size: 3rem;
    font-weight: bold;
    color: $primary-color;
  }
}
