// MEDIA QUERY setting
@mixin mq($breakpoint) {
  @if $breakpoint == xs {
    @media only screen and (max-width: 419px) {
      @content;
    }
  }

  @if $breakpoint == mob {
    @media only screen and (max-width: 459px) {
      @content;
    }
  }

  @if $breakpoint == tab {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }

  @if $breakpoint == laptap {
    @media only screen and (max-width: 959px) {
      @content;
    }
  }

  @if $breakpoint == lg {
    @media only screen and (max-width: 1199px) {
      @content;
    }
  }
}
