html {
  font-size: 62.5%; // 1rem = 10px (10/16)
}

body {
  font-family: $main-font;
  line-height: normal;
  font-size: $default-font-size;
  color: $black;
}

p {
  font-size: $default-font-size;
}
